body{
    background-image: url(https://www.wallpapertip.com/wmimgs/182-1822995_4k-ultra-hd-desktop-backgrounds-galaxy-wallpaper-hd.jpg);
}

h1{
    font-size: 50px;
    font-family: 'Nasalization', sans-serif;
    font-style: normal;
    font-weight: 800;
    margin: auto;
    text-align: center;
    color: rgb(234, 151, 27);

}

h2{
    font-size: 45px;
    font-family: 'Nasalization', sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: auto;
    text-align: center;
    color: rgb(247, 5, 146); 
}
 a{
    color:rgb(6, 249, 249);
    text-align: center;
 }

 a:hover{
    background-color: rgb(36, 10, 235);
 }
 
.QR{
    font-size: 30px;
    font-family: 'Roboto Mono', monospace;
    margin: auto;
    text-align: center;
    color: rgb(231, 234, 238);         
}

h3{
    font-size: 36px;
    font-family: 'Nasalization', sans-serif;
    font-style: normal;
    font-weight: 200;
    margin: auto;
    text-align: center;
    color: rgb(53, 224, 15);  
}

.attributes{
    font-size: 18px;
    font-family: 'Rock Salt';
    color: rgb(234, 151, 27);
    position: absolute;
    bottom: -50;
 }